@font-face {
	font-family: "Metropolis";
	src: url("../fonts/Metropolis-Regular.otf") format("opentype");
}

* {
	font-family: 'Metropolis', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.profile {
	max-width: 640px;
	margin: 80px auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #333333;
}

.headshot {
	height: 160px;
	border-radius: 160px;
	margin-bottom: 24px;
}

.greeting {
	font-size: 28px;
	margin-bottom: 16px;
}

.description {
	font-size: 20px;
	line-height: 28px;
	color: #888888;
}

.description--black {
	color: #333333;
}

.description a {
	color: inherit;
	text-decoration: none;
}

.description a:hover {
	color: #307AD7;
	text-decoration: underline;
	text-decoration-color: rgba(72, 136, 216, 0.24);
}

.buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 32px;
}

.button {
	font-size: 16px;
  padding: 16px 32px;
  color: #FFF;
  text-decoration: none;
  border-radius: 27px;
  cursor: pointer;
  margin: 10px auto;
  border: transparent;
}

.button--blue {
	width: 190px;
  background-color: #357CD4;
  border: 1px solid #357CD4;
  margin-left: 16px;
  margin-right: 16px;
}

.button--blue:hover {
	opacity: 0.9;
}

.button--white {
	width: 210px;
	color: #357CD4;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.16);
}

.button--white:hover {
	border: 1px solid rgba(0, 0, 0, 0.32);
}

.social-icons {
	display: flex;
	justify-content: space-between;
	height: 104px;
	width: 136px;
	font-size: 24px;
}

.social-icons .fa-twitter {
	color: #03A9F4;
}

.social-icons .fa-linkedin {
	color: #0288D1;
}

.social-icons .fa-github {
	color: #000;
}

.social-icons a:hover {
	position: relative;
 	top: -5px;
 	padding-bottom: 5px;
}

.divider {
	border-bottom: 1px solid #000;
	height: 1px;
	width: 160px;
	opacity: 0.16;
}
